.glasscard {
    border-radius: 15px;
    padding: 20px;
    max-width: 300px;
    margin: auto;
}

.glasseffect {
    background: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.4);
    backdrop-filter: blur(10px);
    border: 1px rgba(120, 120, 120, 0.124) solid;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}